<title>APACrawler</title>

<head>
    <meta name="author" content="Haoxi Tan">
    <meta name="description" content="the APA auto citer 
    powered by Python 3 and Flask">
    <meta name="keywords" content="APA,cite,autocite,reference,apa">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">


</head>

<header>
    <h1>APACrawler</h1>

    <p>
    Welcome to APACrawler, the APA auto citer 
    powered by Python 3 and Flask!
    </p>
    <p> Author: Haoxi Tan <a href="https://github.com/h74n/APACrawler">https://github.com/h74n/APACrawler</a>

</header>

<form method="GET" action="/cite">

        <input type="text" name="url">

        <input type="submit" value="Cite">

</form>

